In [4]:
import pandas as pd
import os
import numpy as np

In [9]:
mainpath = "/Users/Cruz/Documents/Inteligencia"
filename = "lfc_manager.txt"
fullpath = os.path.join(mainpath,filename)

In [11]:
data = pd.read_csv(fullpath)

In [12]:
data

,Name,Nationality,From,To,P,W,D,L,win_perc,L1,L2,FA,LC,CS,EC,UC,US
0,"McKenna, John",Ireland,1892-02-15,1896-08-16,127,77,20,30,60.63,0,2,0,0,0,0,0,0
1,"Watson, Tom",England,1896-08-17,1915-05-06,742,329,141,272,44.34,2,1,0,0,0,0,0,0
2,"Patterson, George",England,1915-06-01,1919-12-14,18,7,2,9,38.89,0,0,0,0,0,0,0,0
3,"Ashworth, David",England,1919-12-18,1923-02-12,139,70,40,29,50.36,1,0,0,0,0,0,0,0
4,"McQueen, Matt",Scotland,1923-02-13,1928-02-15,229,93,60,76,40.61,1,0,0,0,0,0,0,0
5,"Patterson, George",England,1928-03-07,1936-08-06,366,137,85,144,37.43,0,0,0,0,0,0,0,0
6,"Kay, George",England,1936-08-06,1951-03-22,357,142,93,122,39.78,1,0,0,0,0,0,0,0
7,"Welsh, Don",England,1951-03-23,1956-05-04,232,81,58,93,34.91,0,0,0,0,0,0,0,0
8,"Taylor, Phil",England,1956-05-05,1959-11-17,150,76,32,42,50.67,0,0,0,0,0,0,0,0
9,"Shankly, Bill",Scotland,1959-12-01,1974-07-12,783,407,198,178,51.98,3,1,2,0,4,0,1,0
10,"Paisley, Bob",England,1974-08-26,1983-07-01,535,308,131,96,57.57,6,0,0,3,5,3,1,1
11,"Fagan, Joe",England,1983-07-02,1985-05-29,131,71,36,24,54.20,1,0,0,1,0,1,0,0
12,"Dalglish, Kenny",Scotland,1985-05-30,1991-02-21,307,187,78,42,60.91,3,0,2,0,4,0,0,0
13,"Moran*, Ronnie",England,1991-02-22,1991-04-15,10,4,1,5,40.00,0,0,0,0,0,0,0,0
14,"Souness, Graeme",Scotland,1991-04-16,1994-01-28,157,66,45,46,42.04,0,0,1,0,0,0,0,0
15,"Evans, Roy",England,1994-01-31,1998-11-12,226,117,56,53,51.77,0,0,0,1,0,0,0,0
16,"Houllier, Gérard",France,1998-11-13,2004-05-24,307,160,73,74,52.12,0,0,1,2,1,0,1,1
17,"Benítez, Rafael",Spain,2004-06-16,2010-06-03,350,194,77,79,55.43,0,0,1,0,1,1,0,1
18,"Hodgson, Roy",England,2010-07-01,2011-01-08,31,13,9,9,41.94,0,0,0,0,0,0,0,0
19,"Dalglish, Kenny",Scotland,2011-01-08,2012-05-16,74,35,17,22,47.30,0,0,0,1,0,0,0,0
20,"Rodgers, Brendan",Northern Ireland,2012-06-01,2015-10-04,166,83,41,42,50.00,0,0,0,0,0,0,0,0
21,"Klopp, Jürgen",Germany,2015-10-08,2018-10-21,166,88,46,32,53.01,0,0,0,0,0,0,0,0

In [14]:
#Media

In [15]:
data["win_perc"].mean()

47.995

In [19]:
#Moda

In [18]:
data["win_perc"].mode()

0     34.91
1     37.43
2     38.89
3     39.78
4     40.00
5     40.61
6     41.94
7     42.04
8     44.34
9     47.30
10    50.00
11    50.36
12    50.67
13    51.77
14    51.98
15    52.12
16    53.01
17    54.20
18    55.43
19    57.57
20    60.63
21    60.91
dtype: float64

In [20]:
#Mediana

In [21]:
data["win_perc"].median()

50.18

In [22]:
#percentiles

In [26]:
a = data["win_perc"]

In [28]:
np.percentile(a,50)

50.18